<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .lead {
            padding: 10px 6px 10px 6px;
            margin-top: 10px;
            background: #f6f6f6;
            width: 100%;
        }
    </style>
</head>
<body>
    <h1>Hey there!</h1>
    {% comment 'my first django comment'%}

      firs we have the namespace and then the url name
        that is {{% url 'namespace:url-name'%}}

        for one line comment we have {# write here #}
    {% endcomment %}
     
    <a href="{% url 'leads:lead-create'%}">Create a new Lead!</a>
    <hr> 
    <h2>This is all of our leads!</h2>
 
        {% for i in lead %} 
            <div class="lead">
                <a href="{% url 'leads:lead-detail' i.pk %}"> {{ i.first_name }} {{ i.last_name }} </a> - {{i.age}}
            </div>
        {% endfor %}



</html>