{% extends 'base.html' %}

{% block content %}
    <h1>Hey there!</h1>
    {% comment 'my first django comment'%}

      firs we have the namespace and then the url name
        that is {{% url 'namespace:url-name'%}}

        for one line comment we have {# write here #}
    {% endcomment %}
     
    <a href="{% url 'leads:lead-create'%}">Create a new Lead!</a>
    <hr> 
    <h2>This is all of our leads!</h2>
 
        {% for i in lead %} 
            <div class="lead">
                <a href="{% url 'leads:lead-detail' i.pk %}"> {{ i.first_name }} {{ i.last_name }} </a> - {{i.age}}
            </div>
        {% endfor %}
{% endblock %}